#aboutPara {
    text-align: justify;
    font-size: 19px;
    margin: 0px 15% 25px 15%;
    color: #212121;
    font-family: "Noto Sans JP", sans-serif;
}

.subheading {
    font-size: 30px;
    color: #1756BD;
    font-family: "Noto Sans JP", sans-serif;
    text-align: center;
    font-weight: 700;
}

.about-container {
    display: flex;
    flex-direction: row;
}

.left {
    width: 60%;
    margin-right: 10%;
    margin-top: 2%;
}

.right {
    width: 20%;
    margin-left: 0%;
}

.logo-img {
    padding-top: 8px;
    height: 70px;
}

.image-name {
    display: flex;
}

.name {
    margin: auto;
    margin-top: 10px;
}

.img {
    width: 100%;
    margin-top: -45px;
}

.text {
    font-size: 15px;
    line-height: 24px;
}

#about-section {
    background-color: #f7f7f7;
    padding-top: 30px;
    padding-bottom: 20px;
}

@media only screen and (max-width: 800px) {
    #aboutPara {
        margin: -5px 15px 25px 15px;
    }
    #about-section {
        margin: 0px 0px 0px 0px;
    }
}

@media only screen and (max-width: 800px) and (min-width: 375px) {
    #aboutPara {
        margin: -5px 40px 25px 40px;
    }
}

@media only screen and (max-width: 450px) {
    .about-container {
        flex-direction: column-reverse;
    }
    .left {
        width: 100%;
        margin-top: 15px;
    }
    .right {
        width: 100%;
    }
    .img {
        margin-top: 10px;
    }
    .about-image {
        padding-left: 15%;
        padding-right: 15%;
    }
    #aboutPara {
        margin-left: 5%;
        margin-right: 5%;
    }
}