<div class="ws-section" id="top">
    <div class="login-wrapper" fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="space-around">
        <div class="left-part" fxFlex="40" fxLayout="column" fxLayoutAlign="start start">
            <div class="img_box">
                <img src={{courseDetails.img}} class="workshop-image">
            </div>
        </div>

        <div class="right-part" fxFlex="50">
            <div class="normal-heading">{{courseDetails.title}}</div>
            <div class="desc">This course is for those students who want to score 175+ in their NEET 2021 exam.</div>

            <div class="details-container">
                <div class="details-columns">
                    <div class="column1">
                        <div class="ws-style">
                            <div id="head">Subject</div>
                            <div id="desc">{{courseDetails.subject}}</div>
                        </div>
                        <div class="ws-ageGroup">
                            <div id="head">Language</div>
                            <div id="desc">Hindi and English</div>
                        </div>
                    </div>
                    <div class="column2">
                        <div class="ws-style">
                            <div class="status">Status : Last Date to apply is 1st December, 2020</div>
                        </div>
                    </div>
                    <div class="ws-fees">
                        <div id="fees1">Price</div>
                        <div><a id="fees2">Rs. {{courseDetails.price}} &nbsp;</a><s id="fees3">Rs. {{courseDetails.cutPrice}}</s></div>
                    </div>
                </div>
            </div>
            <div class="join-now-btn">
                <a style="text-decoration: none;" target="_blank" href="https://play.google.com/store/apps/details?id=co.lynde.soyyi">
                    <button style="background-color: #1756bd; color: white; font-family: 'Noto Sans JP', sans-serif;" mat-flat-button>Open in App</button>
                </a>
            </div>
        </div>
    </div>


    <div class="bottom-container">
        <mat-tab-group class="tab-container" style="font-family: 'Noto Sans JP', sans-serif;">
            <mat-tab label="Description">
                <div class="desc">This course is for those Students who want to score 175+ easily in their NEET 2021 exam.</div>
                <div class="highlights" *ngIf=!isTS>
                    <ul>Course Highlights
                        <li>Live Classes.</li>
                        <li>Recorded lecture available After live Classes</li>
                        <li>Complete Chemistry Notes (Hindi + English)</li>
                        <li>Regular One Doubt Clearing Session after 3 Class</li>
                        <li>Daily Morning Booster</li>
                        <li>Question Practice sheet of each topic having 300+ question</li>
                        <li>24*7 Doubt clearance Support</li>
                        <li>Tricks & Short Cut Methods</li>
                        <li>Complete Chemistry Revision after Complete Syllabus</li>
                        <li>200+ Test (Topic wise + Complete mock test)</li>
                    </ul>
                </div>
                <div class="highlights" *ngIf=isTS>
                    <ul>Features of Test Series
                        <li>192 Chapter wise Physics, Chemistry, Biology Online Tests based on Exact NEET Pattern</li>
                        <li>20 Major Tests which covered complete Chemistry Syllabus for Class 11</li>
                        <li>3500+ Chemistry Questions with detailed explanation are based on new pattern of NEET 2022.</li>
                        <li>45 Questions are included per chapter in the Chemistry Mock Test.</li>
                        <li>80% question are solely based on NCERT. Remaining 20% questions are higher level which are designed to give an edge over other students.</li>
                        <li>Comparison with topper's score and time taken by him.</li>
                        <li>Free Chemistry Notes are available with tests series.</li>
                    </ul>
                </div>
                <div class="highlights" *ngIf=isTS>
                    <ul>Benifits of Test Series
                        <li>A unique test series with complete video solution, it helps you gauge your preparation status and better understand the concepts. The video solution will help you find your mistakes and weak concept, in an instant.</li>
                        <li>Detailed analysis of each and every question is provided in the test series.</li>
                        <li>The test series is available pan India - you get to compete against students on a national level. An excellent way to assess your preparation.</li>
                        <li>These are time-bound tests; you learn time management and become more efficient at taking tests.</li>
                        <li>As the Chemistry test series is available online, it makes for a great fit to your schedule and an excellent revision tool. This is an all-India test series. You get to compete against students across India; an excellent way to
                            assess your preparation.</li>
                        <li>You will learn Tricks & Short Cut method to solve questions in minimum time.</li>
                        <li>Understand the context & patterns of NEET questions in Detailed VIDEO SOLUTIONS by Slok Sir(only Chemistry)</li>
                        <li>Develop the ability to MEMORIZE the formulas along with the concepts used</li>
                        <li>Will help to eliminate mistakes in the exam & to find your weak points.</li>
                        <li>Chemistry Tests can be given – Anywhere, Any Device – Mobile, Tablet & Computers.</li>
                    </ul>
                </div>

            </mat-tab>
            <mat-tab label="Syllabus">
                <div class="desc">Complete NEET Chemistry Syllabus Based on NCERT</div>

                <ul>Inorganic Chemistry for {{courseDetails.class}}
                    <div *ngFor="let s of inorganic;">
                        <li>{{s}}</li>
                    </div>
                </ul>

                <ul>Organic Chemistry For {{courseDetails.class}}
                    <div *ngFor="let s of organic;">
                        <li>{{s}}</li>
                    </div>
                </ul>

                <ul>Physical Chemistry for {{courseDetails.class}}
                    <div *ngFor="let s of physical;">
                        <li>{{s}}</li>
                    </div>
                </ul>

            </mat-tab>
            <mat-tab label="FAQ">
                <ul> Why to join this course?
                    <li>If you are facing problems in understanding chemistry.</li>
                    <li>If you feel difficulty in NEET exam because of chemistry.</li>
                    <li>If you don't know from where and how to prepare for NEET exam.</li>
                    <li>If you are facing problems in understanding chemistry because of English language.</li>
                </ul>
                <ul> Why Dr. Vishesh Parashri (Dr. Slok Sir)?
                    <li>150,000+ happy Students, 1000+ selected students across the India.</li>
                    <li>One of the Best Chemistry Teachers in India.</li>
                    <li>Reads & Researches a lot before Making Any Suggestions.</li>
                    <li>Fresher students like his teaching style as he focuses on basics and starts from ZERO to Perfection.</li>
                    <li>Dropper Students Found his Teaching Style Awesome as he focuses on eradicating mistakes of their past and honestly guiding them to improve their marks.</li>
                    <li>Countless Positive Reviews & Comments on Google Play Store(NEET KORNER APP), Website(neetkorner.com), YouTube(The Slok Chemistry)</li>
                    <li>He is famous among students for his teaching style and Awesome tricks.</li>
                </ul>
                <ul>Why NEET KORNER Classes?
                    <li>NEET KORNER Team is honestly working to provide the best platform to future doctors.</li>
                    <li>NEET KORNER Team is always dedicated to helping needy students.</li>
                    <li>Counselling Calls on a regular interval.</li>
                    <li>Regular Motivational session by Dr Vishesh parashri ( slok Sir).</li>
                    <li>Special Mentor Slok sir for each & every student.</li>
                    <li>1,50,000+ Subscribers on YouTube Channel and still counting.</li>
                    <li>2,000+ NEETKORNER app download.</li>
                </ul>
            </mat-tab>
        </mat-tab-group>
        <div class="last-lines">You can access live lectures and recorded videos any time, any where, any device - Mobile(iPhone or android) <br> This course is based on the AUTHENTIC method to master Chemistry for NEET. <br> Dr. Vishesh Parashri (Dr. Slok Sir) explains Chemistry
            in the EASIEST way to help students GRASP concepts, memorize essential details Complete NCERT Based Syllabus Covering {{courseDetails.class}} Learn at your own time, revise as many time as you need. <br><br> All The Best <br> Let's Score 175+
            in NEET Chemistry with Dr Vishesh Parashri </div>
    </div>
    <br><br>
</div>