.ws-section {
    font-family: "Noto Sans JP", sans-serif;
    background-color: #fafafa;
    padding-top: 35px;
}

.login-wrapper {
    width: 90%;
    margin: auto;
}

.left-part {
    background-color: #fafafa;
}

.workshop-image {
    width: 100%;
    border-radius: 6px;
    display: block;
}

.normal-heading {
    padding-top: 0px;
    text-align: left;
    margin-bottom: 0px;
    font-size: 30px;
    line-height: 35px;
    font-family: "Noto Sans JP", sans-serif;
}

.desc {
    color: grey;
    margin-top: 14px;
    font-size: 17px;
    line-height: 26px;
}

.right-part {
    border-radius: 10px;
    text-align: left;
}

.right-title {
    color: #212121;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.proceed-to-pay {
    margin-top: 20px;
    background-color: #2597d5;
    color: #fcf6f5ff;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 500;
    font-size: 16px;
}

//***************************************
.details-columns {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.details-container {
    margin-top: 20px;
}

.column1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 192px;
}

.column2 {
    margin-top: 25px;
}

#head {
    font-size: 16px;
    color: #7a7a7a;
    line-height: 30px;
}

#desc {
    font-size: 17px;
    line-height: 25px;
    color: #476176;
}

.status {
    font-size: 16px;
    color: grey;
}

.ws-fees {
    margin-top: 20px;
}

#fees1 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
    color: #176476;
}

#fees2 {
    font-size: 19px;
    color: green;
}

#fees3 {
    font-size: 20px;
    color: grey;
}

.join-now-btn {
    margin-top: 20px;
}

//*********************************
.bottom-container {
    width: 80%;
    margin: auto;
    margin-top: 35px;
    color: #476176;
}

ul {
    font-size: 20px;
    line-height: 40px;
    font-weight: 700;
    li {
        font-size: 16px;
        line-height: 30px;
        font-weight: 500;
    }
}

.last-lines {
    font-size: 16px;
    line-height: 26px;
}

//*********************************
@media only screen and (max-width: 1000px) {
    .login-wrapper {
        width: 85%;
    }
}

@media only screen and (max-width: 870px) {
    .login-wrapper {
        width: 90%;
    }
}

@media only screen and (max-width: 750px) {
    .login-wrapper {
        width: 95%;
    }
}

@media only screen and (max-width: 450px) {
    .ws-section {
        padding-top: 0px;
    }
    .login-wrapper {
        width: 100%;
        margin-top: 0px;
    }
    .right-part {
        margin-top: 20px;
        margin-left: 5%;
        margin-right: 5%;
    }
    .workshop-image {
        border-radius: 0px;
    }
    .bottom-container {
        width: 90%;
    }
    .column1 {
        padding-right: 0px;
    }
}