<div class="courses-section">
    <div class="courses-container">
        <h1 class="title">NEET COURSES</h1>
        <div class="all-courses">
            <div class="single-course">
                <a href="">
                    <mat-card class="card-container">
                        <div class="card-img">
                            <img mat-card-image src="assets/images/courses/droppers.jpeg" alt="">
                        </div>

                        <mat-card-title class="card-title"> Chemistry Course for Neet Droppers</mat-card-title>

                        <mat-card-content class="content">
                            <div class="teacher">Dr. Slok Sir</div>
                        </mat-card-content>
                    </mat-card>
                </a>
            </div>
            <div class="single-course">
                <a href="">
                    <mat-card class="card-container">
                        <div class="card-img">
                            <img mat-card-image src="assets/images/courses/droppers.jpeg" alt="">
                        </div>

                        <mat-card-title class="card-title"> Chemistry Course for Neet Droppers</mat-card-title>

                        <mat-card-content class="content">
                            <div class="teacher">Dr. Slok Sir</div>
                        </mat-card-content>
                    </mat-card>
                </a>
            </div>
            <div class="single-course">
                <a href="">
                    <mat-card class="card-container">
                        <div class="card-img">
                            <img mat-card-image src="assets/images/courses/droppers.jpeg" alt="">
                        </div>

                        <mat-card-title class="card-title"> Chemistry Course for Neet Droppers</mat-card-title>

                        <mat-card-content class="content">
                            <div class="teacher">Dr. Slok Sir</div>
                        </mat-card-content>
                    </mat-card>
                </a>
            </div>
            <div class="single-course">
                <a href="">
                    <mat-card class="card-container">
                        <div class="card-img">
                            <img mat-card-image src="assets/images/courses/droppers.jpeg" alt="">
                        </div>

                        <mat-card-title class="card-title"> Chemistry Course for Neet Droppers</mat-card-title>

                        <mat-card-content class="content">
                            <div class="teacher">Dr. Slok Sir</div>
                        </mat-card-content>
                    </mat-card>
                </a>
            </div>


        </div>


        <!-- <div class="show-more">
            <a href="">Show more courses...</a>
        </div> -->


    </div>
</div>