<div class="courses-section">
    <div class="courses-container">
        <h1 class="title">Neet Courses</h1>
        <div class="all-courses">
            <div class="single-course">
                <a href="">
                    <mat-card class="card-container">
                        <div class="card-img">
                            <img mat-card-image src="" alt="">
                        </div>

                        <mat-card-title class="card-title">Neet Droppers Batch</mat-card-title>

                        <mat-card-content class="content"></mat-card-content>
                    </mat-card>
                </a>
            </div>
            <div class="single-course">
                <a href="">
                    <mat-card class="card-container">
                        <div class="card-img">
                            <img mat-card-image src="" alt="">
                        </div>

                        <mat-card-title class="title">Neet Droppers Batch</mat-card-title>

                        <mat-card-content class="content"></mat-card-content>
                    </mat-card>
                </a>
            </div>
            <div class="single-course">
                <a href="">
                    <mat-card class="card-container">
                        <div class="card-img">
                            <img mat-card-image src="" alt="">
                        </div>

                        <mat-card-title class="title">Neet Droppers Batch</mat-card-title>

                        <mat-card-content class="content"></mat-card-content>
                    </mat-card>
                </a>
            </div>
            <div class="single-course">
                <a href="">
                    <mat-card class="card-container">
                        <div class="card-img">
                            <img mat-card-image src="" alt="">
                        </div>

                        <mat-card-title class="title">Neet Droppers Batch</mat-card-title>

                        <mat-card-content class="content"></mat-card-content>
                    </mat-card>
                </a>
            </div>
            <div class="single-course">
                <a href="">
                    <mat-card class="card-container">
                        <div class="card-img">
                            <img mat-card-image src="" alt="">
                        </div>

                        <mat-card-title class="title">Neet Droppers Batch</mat-card-title>

                        <mat-card-content class="content"></mat-card-content>
                    </mat-card>
                </a>
            </div>
            <div class="single-course">
                <a href="">
                    <mat-card class="card-container">
                        <div class="card-img">
                            <img mat-card-image src="" alt="">
                        </div>

                        <mat-card-title class="title">Neet Droppers Batch</mat-card-title>

                        <mat-card-content class="content"></mat-card-content>
                    </mat-card>
                </a>
            </div>
            <div class="single-course">
                <a href="">
                    <mat-card class="card-container">
                        <div class="card-img">
                            <img mat-card-image src="" alt="">
                        </div>

                        <mat-card-title class="title">Neet Droppers Batch</mat-card-title>

                        <mat-card-content class="content"></mat-card-content>
                    </mat-card>
                </a>
            </div>
            <div class="single-course">
                <a href="">
                    <mat-card class="card-container">
                        <div class="card-img">
                            <img mat-card-image src="" alt="">
                        </div>

                        <mat-card-title class="title">Neet Droppers Batch</mat-card-title>

                        <mat-card-content class="content"></mat-card-content>
                    </mat-card>
                </a>
            </div>
        </div>


        <!-- <div class="show-more">
            <a href="">Show more courses...</a>
        </div> -->


    </div>
</div>