<mat-toolbar class="navbar_container">
    <mat-toolbar-row class="toolbar">
        <div class="toolbar-contents">
            <a [routerLink]="['/']" mat-icon-button class="pelto_logo">
                <img class="logo-img" alt="Pelto" src="assets/images/logo2.jpeg" />
            </a>
            <!-- <span class="menu-spacer"></span> -->
            <div class="toolbar-buttons">
                <a class="navbar_button" mat-button>About Us</a>
                <a class="navbar_button" [routerLink]="['/test-series']" mat-button>Test Series</a>
                <a class="navbar_button" href="https://m.youtube.com/channel/UCVgfyO6RnwjGvJ-xPVd2Thw" target="_blank" mat-button>Youtube</a>
                <a class="navbar_button" mat-button>Contact Us</a>
            </div>
        </div>

    </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>