<mat-toolbar class="navbar_container" id="navbar-section">
    <mat-toolbar-row class="toolbar">
        <div class="toolbar-contents">
            <button mat-icon-button (click)="sidenav.toggle()" class="menu" fxShow="true" fxHide.gt-xs><mat-icon>menu</mat-icon></button>
            <a [routerLink]="['/']" mat-icon-button class="pelto_logo">
                <img class="logo-img" alt="Pelto" src="assets/images/logo2.jpeg" />
            </a>
            <div class="toolbar-buttons">
                <a pageScroll [pageScrollDuration]="200" [routerLink]="['/']" fragment="about-section" class="navbar_button" mat-button>About Us</a>
                <a pageScroll [pageScrollDuration]="200" [routerLink]="['/']" fragment="courses-section" class="navbar_button" mat-button>Courses</a>
                <a class="navbar_button" [routerLink]="['/test-series']" mat-button>Online Test</a>
                <a class="navbar_button" href="https://m.youtube.com/channel/UCVgfyO6RnwjGvJ-xPVd2Thw" target="_blank" mat-button>Youtube</a>
                <a pageScroll [pageScrollDuration]="200" fragment="footer-section" class="navbar_button" pageScroll [pageScrollDuration]="400" href="#contact-section" class="navbar_button" mat-button>Contact Us</a>
            </div>
        </div>

    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <mat-nav-list class="sidenav-content">
            <a (click)="sidenav.toggle()" pageScroll [pageScrollDuration]="200" [routerLink]="['/']" fragment="about-section" class="navbar_button" mat-button>About Us</a>
            <a (click)="sidenav.toggle()" pageScroll [pageScrollDuration]="200" [routerLink]="['/']" fragment="courses-section" class="navbar_button" mat-button>Courses</a>
            <a (click)="sidenav.toggle()" [routerLink]="['/test-series']" class="navbar_button" mat-button>Online Test</a>
            <a (click)="sidenav.toggle()" href="https://m.youtube.com/channel/UCVgfyO6RnwjGvJ-xPVd2Thw" target="_blank" class="navbar_button" mat-button>Youtube</a>
            <a (click)="sidenav.toggle()" class="navbar_button" pageScroll [pageScrollDuration]="400" href="#contact-section" class="navbar_button" mat-button>Contact Us</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-home></app-home>
    </mat-sidenav-content>
</mat-sidenav-container>