<!-- <div class="banner-container" fxLayout="row" fxLayoutAlign="space-evenly center"> -->
<div class="banner-container banner-section">
    <div class="container">
        <div class="ba-content">
            <div class="ba-content-head font">
                <p>Get Top Rank in NEET with Excellent Lectures and Test Series</p>
            </div>
            <div class="join-now-btn">
                <a style="text-decoration: none;" target="_blank" href="https://play.google.com/store/apps/details?id=co.lynde.soyyi">
                    <button mat-flat-button>Download our app</button>
                </a>
            </div>
        </div>
    </div>
</div>