<!-- <div class="banner-container" fxLayout="row" fxLayoutAlign="space-evenly center"> -->
<div class="banner-container banner-section">
    <div class="container">
        <div class="ba-content">
            <div class="ba-content-head font">
                <p>Get Top Rank in NEET with Excellent Lectures and Test Series</p>
            </div>
            <!-- <div class="ba-content-info">
                <p>Explore your Talent through Recreational Activities | Dance, Drama, Music, Arts | Connect with best in Class Mentors</p>
            </div> -->
            <div class="join-now-btn">
                <a style="text-decoration: none;" href="">
                    <!-- <div class="join-now-btn"> -->
                    <button mat-flat-button>Enroll Now</button>
                    <!-- </div> -->
                </a>
            </div>


        </div>
    </div>
</div>