<!-- <div class="banner-container" fxLayout="row" fxLayoutAlign="space-evenly center"> -->
<div class="banner-container">
    <div>
        <div class="ba-content">
            <div class="ba-content-head">
                <p>Explore your way</p>
            </div>
            <div class="ba-content-info">
                <p>Explore your Talent through Recreational Activities | Dance, Drama, Music, Arts | Connect with best in Class Mentors</p>
            </div>
            <a style="text-decoration: none;" href="#workshop-section">
                <div class="join-now-btn">
                    <button mat-flat-button color="primary">Start Now</button>
                </div>
            </a>

        </div>
    </div>
    <div class="ba-image">
        <img src="assets/images/banner_image2.png" height="500" alt="approx 541 X 376 size image">
    </div>
</div>