<div class="community-container" id="community-section">
    <div class="title">Our Community</div>
    <div class="container">
        <div class="left">
            <div class="content">Stay connected with our community and read our news feed, blog and social media to keep informed on news about the academy as it is happening.</div>
            <div class="icons-title">Find us on:</div>
            <div class="icons">
                <a target="_blank" href="https://www.facebook.com/drslokchemistry/" class="single-icon">
                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                </a>
                <a target="_blank" href="https://www.instagram.com/visheshparashri/" class="single-icon">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
                <a target="_blank" href="https://www.youtube.com/channel/UCVgfyO6RnwjGvJ-xPVd2Thw" class="single-icon">
                    <i class="fa fa-youtube-square" aria-hidden="true"></i>
                </a>
                <a target="_blank" href="https://mobile.twitter.com/DrParashri?s=09" class="single-icon">
                    <i class="fa fa-twitter-square" aria-hidden="true"></i>
                </a>
                <!-- <a class="single-icon">
                    <i class="fa fa-whatsapp fa-5x" aria-hidden="true"></i>
                </a> -->
            </div>
        </div>
        <div class="right">
            <div class="image-div">
                <img class="img" src="assets/images/community_pic.jpg" alt="pic">
            </div>
        </div>
    </div>

</div>